JgMaschineGlobalZeit/XMLFileAusgabe.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Datensatz">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Mitarbeiter" type="xs:string" />
              <xs:element name="Nachname" type="xs:string" />
              <xs:element name="Vorname" type="xs:string" />
              <xs:element name="IdBuchhaltung" type="xs:string" />
              <xs:element name="Urlaubstage" type="xs:string" />
              <xs:element name="SollStunden" type="xs:string" />
              <xs:element name="IstStunden" type="xs:string" />
              <xs:element name="UeberStunden" type="xs:string" />
              <xs:element name="Krank" type="xs:string" />
              <xs:element name="Urlaub" type="xs:string" />
              <xs:element name="NachtschichtZuschlag" type="xs:string" />
              <xs:element name="FeiertagsZuschlag" type="xs:string" />
              <xs:element name="UeberstundenAusgezahlt" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>