JgMaschineGlobalZeit/XMLFileAusgabe.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Monat" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="Datensatz">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Mitarbeiter" type="xs:string" />
              <xs:element name="Nachname" type="xs:string" />
              <xs:element name="Vorname" type="xs:string" />
              <xs:element name="IdBuchhaltung" type="xs:unsignedShort" />
              <xs:element name="Standort" type="xs:string" />
              <xs:element name="Zahltag" type="xs:unsignedByte" />
              <xs:element name="Urlaubstage" type="xs:unsignedByte" />
              <xs:element name="IstStunden" type="xs:decimal" />
              <xs:element name="UeberStunden" type="xs:decimal" />
              <xs:element name="SollStunden" type="xs:decimal" />
              <xs:element name="UeberStunden" type="xs:decimal" />
              <xs:element name="UeberstundenAusgezahlt" type="xs:decimal" />
              <xs:element name="UeberstundenGesamt" type="xs:decimal" />
              <xs:element name="Urlaub" type="xs:decimal" />
              <xs:element name="UrlaubstageOffen" type="xs:decimal" />
              <xs:element name="Krank" type="xs:decimal" />
              <xs:element name="Feiertage" type="xs:decimal" />
              <xs:element name="NachtschichtZuschlag" type="xs:decimal" />
              <xs:element name="NachtschichtZuschlagGerundet" type="xs:decimal" />
              <xs:element name="FeiertagsZuschlag" type="xs:decimal" />
              <xs:element name="FeiertagsZuschlagGerundet" type="xs:decimal" />
              <xs:element name="IstStundenD" type="xs:time" />
              <xs:element name="NormalstundenD" type="xs:string" />
              <xs:element name="UeberStundenD" type="xs:time" />
              <xs:element name="SollStundenD" type="xs:time" />
              <xs:element name="UeberstundenAusgezahltD" type="xs:time" />
              <xs:element name="UeberstundenGesamtD" type="xs:time" />
              <xs:element name="UrlaubD" type="xs:time" />
              <xs:element name="UrlaubstageOffenD" type="xs:time" />
              <xs:element name="KrankD" type="xs:time" />
              <xs:element name="FeiertageD" type="xs:time" />
              <xs:element name="NachtschichtZuschlagD" type="xs:time" />
              <xs:element name="NachtschichtZuschlagGerundetD" type="xs:time" />
              <xs:element name="FeiertagsZuschlagD" type="xs:time" />
              <xs:element name="FeiertagsZuschlagGerundetD" type="xs:time" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>