JgMaschineAuswertung/Hilfen/InitScannerDatalocig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="werte">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="zeile">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Befehl" type="xs:string" />
              <xs:element name="Bemerkung" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>